/*CONVERSION*/
/*1px = 3/4pt = 1/16em = 0.12671875vw*/

/*-----------
//  UNIVERSAL
------------------------------*/

body {
  overflow-x: hidden;
  height: 100vh;
}

body, body * {
  margin: 0;
  box-sizing: border-box;
}

/*-----------
//  UNIVERSAL CLASSES
------------------------------*/

.background-image {
  width: 100%;
  height: 300px;
  background-image: url("../assets/pixel_8bit_game_background_with_ground_and_vector.jpg");
  background-size: 500px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-column-middle {
  justify-content: center;
}

.flex-grow {
  flex-grow: 1;
}

.full {
  width: 100%;
}

.full-height {
  height: 100%;
}

.background-image {
  background-size: 100vw 100vh;
}

/*-----------
//  BODY
------------------------------*/

header {
  background-image: url("../assets/question_block_8bit_sticker.jpg");
  background-size: 32px;
  background-repeat: repeat;
}

.header-container {
  background-color: rgb(0, 0, 0, 0.3);
  padding: 0.5em;
}

.header-logo {
  width: 2em;
  height: 2em;
}

.header-name {
  display: inline-block;
  font-weight: lighter;
  color: #ffffff;
  font-family: Helvetica neue, roboto;
  font-size: 2em;
  line-height: 2em;
}

#debug-container {
  display: inline-block;
  float: right;
}

#debug-checkbox {

}

#debug-span {
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

main h1 {
  text-align: center;
  font-size: 36px;
}

canvas {
  background-color: rgb(225,225,225);
}

.content {
  background-color: rgb(250,250,250);
  margin-bottom: 15px; /*add a buffer space for the fps-container*/
}

#controller-container {
  position: absolute;
  background-color: rgb(50,50,50);
}

#fps-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(245,245,245);
  text-align: center;
  font-family: monospace;
  z-index: 99;
}

#volume-slider {
  appearance: none;
  -webkit-appearance: none;
  opacity: 0.5;
  width: 0;
  /*Make sure transition doesn' thappen for position..teleport*/
  transition: opacity 0.3s;
  transition: width 0.3s;
}

#volume-button:hover + #volume-slider {
  opacity: 1;
  width: 100px;
}

#volume-slider:hover {
  opacity: 1;
  width: 100px;
}

#volume-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(200, 200, 200);
}

#volume-slider::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(200, 200, 200);
}

.debug-textarea {
  display: none;
  position: fixed;
  right: 0;
  width: 100px;
}

#debug-input {
  height: 40vh;
  resize: none;
}

#debug-response {
  bottom: 0;
  height: 60vh;
  resize: none;
}

/*-----------
//  MEDIA
------------------------------*/

/*For mobile, tablet, or desktop in landscape orientation*/
@media screen and (orientation: landscape) {
  .header-container {
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(255,255,255,0.1));
  }

  .header-name {
    color: white;
    font-size: 1.5em;
    line-height: 1.5em;
    padding-left: 0.3em;
    background-color: transparent;
  }

  .content {
    margin-bottom: 15px;
  }
}

/*For mobile, tablet, or desktop in portrait orientation*/
@media screen and (orientation: portrait) {
  .header-container {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;*/
    text-align: center;
  }

  .header-logo {
    display: block;
    margin: auto;
    width: 3em;
    height: 3em;
  }

  .header-name {
    line-height: 1em;
  }

  #debug-container {
    display: block;
    float: none;
  }
}

/*For mobile screens in landscape orientation*/
@media screen and (max-height: 375px) and (orientation: landscape) {

}
