/*CONVERSION*/
/*1px = 3/4pt = 1/16em = 0.12671875vw*/

/*-----------
//  UNIVERSAL
------------------------------*/

body {
  overflow-x: hidden;
}

body, body * {
  margin: 0;
}

/*-----------
//  UNIVERSAL CLASSES
------------------------------*/

.content {
  background-color: rgb(250,250,250);
}

.background-image {
  width: 100%;
  height: 300px;
  background-image: url("../assets/pixel_8bit_game_background_with_ground_and_vector.jpg");
  background-size: 500px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-column-middle {
  justify-content: center;
}

.flex-grow {
  flex-grow: 1;
}

.full {
  width: 100%;
}

.full-height {
  height: 100%;
}

/*-----------
//  BODY
------------------------------*/

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

img {
  width: 56px;
  height: 56px;
}

header {
  background-image: url("../assets/question_block_8bit_sticker.jpg");
  background-size: 32px;
  background-repeat: repeat;
}

header h1 {
  font-weight: lighter;
  background-color: #fff; /*white rgb(255,255,255)*/
  color: #bdbdbd;
  font-family: Helvetica neue, roboto;
}

header > div {
  background-color: rgba(255,255,255,0.3);
}

main h1 {
  text-align: center;
  font-size: 36px;
  padding: 30px 0px 20px 0px;
}

#canvas {
  border: 1px solid lightGray /*#d3d3d3 rgb(211,211,211)*/;
}

div#controller-container {
  position: absolute;
  width: 100%;
  height: 175px;
  background-color: rgb(50,50,50);
}

div#fps-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(245,245,245);
  text-align: center;
  font-family: monospace;
  z-index: 99;
}

/*-----------
//  MEDIA
------------------------------*/

/*For mobile screen in portrait orientation*/
@media screen and (orientation: portrait) {
  body {
    height: 100vh;
  }

  div.main-content {
    height: 0;
  }

  .background-image {
    background-size: 100vw 100vh;
  }
}

@media screen and (orientation: landscape) {
  div.main-content {
    height: 15px;
  }
}
